<div class="form-area">
    <form action="/weather" method="POST">
    Weather info for the city:<br>
    <input type="text" name="cityName" placeholder="City Name" autofocus >
    <br>
    <input type="submit" value="Submit">
    <br>
    <p>{{ weatherText }}</p>

</form>
</div>

