<div class="form-area">
    <form action="/weather" method="POST">
    City:<br>
    <input type="text" name="cityName" value="City Name">
    <br>
    <input type="submit" value="Submit">

</form>
</div>

